/* ===== CSS Header Nav ===== */
.navbar {
    background-color: #f1f3ff;
}

/* ===== CSS Hero Section ===== */
.hero-section {
    background-color: #f1f3ff;
}

/* ===== CSS Our Services ===== */
.services-text > ul {
    list-style-image: url("../images/img_list.png");
}

/* ===== CSS Why Us ===== */

/* ===== CSS Testimony ===== */

/* ===== CSS CTA Banner ===== */

/* ===== CSS FAQ ===== */

/* ===== CSS Footer ===== */
